/* estilos/tiposBibliografia.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }
  
  header a {
    color: white;
    text-decoration: none;
  }
  
  header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Barra de navegación */
  nav {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 8px 15px;
    transition: background-color 0.3s, border-radius 0.3s;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #333;
  }
  
  section {
    padding: 30px;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  form input,
  form select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  form button {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  #formularioEdicion {
    display: none;
    margin-top: 30px;
  }
  
  #formularioEdicion input,
  #formularioEdicion select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  #formularioEdicion button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #formularioEdicion button:hover {
    background-color: #218838;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
 
  
  
  
  ul li button:hover {
    background-color: #c0392b;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px;
    margin-top: 30px;
  }
  
  footer p {
    margin: 0;
  }
  